body {
    position: relative;
}

h2 {
    text-align: center;
}

.scroll-point {
    position: relative;
    top: -3.5rem;
}

.bg-white {
    background-color: #fff;
}

.jumbotron.jumbotron-fluid {
    background: url(jumbotron.jpg) no-repeat;
    background-position: center;
    background-size: cover;

    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.75);
}
